<?php

final class Config {
  const VK_CLIENT_ID = '';
  const VK_SECRET = '';
  const VK_REDIRECT_URL = '';

  const SECRET = '';
  const URL = '';

  const DB_LOGIN = '';
  const DB_PASSWORD = '';
  const DB_HOST = '';
  const DB_NAME = '';

  const TG_TOKEN = '';
}

?>
